h1 {
  text-align: center;
  display: inline;
  margin-left: 350px;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  width: 200px;
  text-align: center;
  left: 400px;
  
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  width: 300px;
  text-align: center;
  top: 110px;
  left: 195px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  width: 300px;
  text-align: center;
  top: 110px;
  left: 500px;
}

.podium-lista li {
  position: absolute;
  display: inline-block;
}

.premiacao {
  position: absolute;
  top: 180px;
}

.premiacao-primeiro ul li {
  display: inline;
}