.pokedex {
  display: flex;
  flex-flow: column;
}

.pokemon {
  align-self: center;
  display: flex;
  border: 2px solid #cacaca;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 30vh;
}