.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 120px;
  top: 338px;
  z-index: 2;
}

.baloon {
  position: absolute;
  z-index: 2.1;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 235px;
  top: 125px;
  z-index: 3;
}

.bowser {
  width: 200px;
}