body {
  font-size: 16px;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-family: monospace;
  font-style: oblique;
  line-height: 30px;
  text-decoration: underline;
}

.cor-de-fundo {
  background-color: palegoldenrod;
}

p {
  font-weight: 600;
  font-size: 3em;
}

#amarelo {
  background-color: yellow;
}

#vermelho {
  background-color: red;
}

#marrom {
  background-color:brown;
}
