h1 {
  text-align: center;
  display: inline;
  margin-left: 200px;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  width: 200px;
  text-align: center;
  left: 250px;
  
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  width: 300px;
  text-align: center;
  top: 110px;
  left: 47px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  width: 300px;
  text-align: center;
  top: 110px;
  left: 355px;
}

.podium-lista li {
  position: absolute;
  display: inline-block;
}

.premiacao {
  position: absolute;
  top: 180px;
}

.premiacao-primeiro h3, .premiacao-segundo, .premiacao-terceiro {
  text-align: center;
}

.premiacao-primeiro-lugar li, .premiacao-primeiro-segundo li, .premiacao-primeiro-terceiro li {
  display: inline;
}